SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,https://127.0.0.1:8000,http://localhost:8000,https://localhost:8000
SECURE_PROXY_SSL_HEADER=HHTP_X_FORWARDED_PROTO, https
INTERNAL_IPS=127.0.0.1
# DATABASE SETTINGS
DB_ENGINE=django.db.backends.postgresql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=